/* Sayfa genel düzeni */
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1f1f1f;
}

/* Renk çarkı alanı */
.wheel-container {
    position: relative;
    width: 500px;
    height: 500px;
}

/* İki görselin üst üste binmesi */
.wheel-container img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    user-select: none;
    pointer-events: none;
}

/* Dönen katman */
#front {
    transform-origin: 50% 50%;
}
